.containerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    
}
.card {
    margin:10px 0px;
    width: 23%;
    border: 1px solid #dadada;
    border-radius: 8px;
    
}
.card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.card p{
    text-align: right;
    line-height: 25px;
    padding: 10px;
}
.p1{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p2{
    color: #778286;
    font-size: 13px;
}
.p3{
    text-align: left !important;
    color: #6fc641;
}