*{margin: 0; padding: 0;}
.containerHeader{
    background-image: url(../src/img/landing.jpg);
}

.Header{
    display: flex;
    justify-content: space-between;
}
#logoHeader{
    height: 60px;
    margin-top: 25px;
    margin-right: 60px;
}
.ulHeader {
    margin-top: 50px;
    margin-bottom: 40px;
}
.ulHeader li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
}
.registration{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 80px;
    color: #fff;
}
.registration i{
    vertical-align: middle;
    margin-left: 6px;
}
#h2-1{
    margin-top: 60px;
    font-size: 26px;
    color: #fff;
}
#h2-2{
    line-height: 60px;
    color: #fff;
    font-size: 22px;
}
.containerHeader input{
    width: 580px;
    height: 50px;
    border-radius: 40px;
    border: none;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-right: 20px;
    font-size: 18px;
    color: #000;
}
.imgsHeader{
    display: flex;
    justify-content: center;
}
.imgsHeader img{
    width: 140px;
    height: 140px;
    padding-left: 15px;
    padding-right: 15px;
}
.imgsHeader p{
    color: #fff;
}
#p2{
    margin-bottom: 47px;
}